Orchestrator/app/FirstApp/src/main/scala/FirstApp.scala
Orchestrator/app/FirstApp/target/scala-2.13/first-project_2.13-1.0.jar
Orchestrator/app/FirstApp/target/scala-2.13/classes/FirstApp$.class
Orchestrator/app/FirstApp/target/scala-2.13/zinc/inc_compile_2.13.zip
Orchestrator/app/FirstApp/target/streams/compile/compileIncremental/_global/streams/out
Orchestrator/app/FirstApp/target/streams/compile/packageBin/_global/streams/inputs
Orchestrator/.gitignore
Orchestrator/app/SparkStreaming/build.sbt
Orchestrator/app/SparkStreaming/checkpoint-folder/README.md
Orchestrator/lista_sparati.txt
Orchestrator/profile.txt
Orchestrator/listafile.txt
Orchestrator/test.py
