Orchestrator/app/FirstApp/src/main/scala/FirstApp.scala
Orchestrator/app/FirstApp/target/scala-2.13/first-project_2.13-1.0.jar
Orchestrator/app/FirstApp/target/scala-2.13/classes/FirstApp$.class
Orchestrator/app/FirstApp/target/scala-2.13/zinc/inc_compile_2.13.zip
Orchestrator/app/FirstApp/target/streams/compile/compileIncremental/_global/streams/out
Orchestrator/app/FirstApp/target/streams/compile/packageBin/_global/streams/inputs
Orchestrator/.gitignore
Orchestrator/app/rawnetworkgrep/src/main/scala/Main.scala
Orchestrator/app/SparkStreaming/build.sbt
Orchestrator/app/SparkStreaming/checkpoint-folder/README.md
Orchestrator/app/wordcount/project/target/config-classes/$0f1762762b0c3b8444a9.cache
Orchestrator/app/wordcount/project/target/config-classes/$0f1762762b0c3b8444a9.class
Orchestrator/app/wordcount/project/target/config-classes/$0f1762762b0c3b8444a9$.class
Orchestrator/app/wordcount/project/target/config-classes/$1cf9188aca36a9db955b.cache
Orchestrator/app/wordcount/project/target/config-classes/$1cf9188aca36a9db955b.class
Orchestrator/app/wordcount/project/target/config-classes/$1cf9188aca36a9db955b$.class
Orchestrator/app/wordcount/project/target/config-classes/$3d0b98d5b18ef8dbca1a.cache
Orchestrator/app/wordcount/project/target/config-classes/$3d0b98d5b18ef8dbca1a.class
Orchestrator/app/wordcount/project/target/config-classes/$3d0b98d5b18ef8dbca1a$.class
Orchestrator/app/wordcount/project/target/config-classes/$5c2a5f0d58015531f65c.cache
Orchestrator/app/wordcount/project/target/config-classes/$5c2a5f0d58015531f65c.class
Orchestrator/app/wordcount/project/target/config-classes/$5c2a5f0d58015531f65c$.class
Orchestrator/app/wordcount/project/target/config-classes/$809a7b3cc8744039b3bf.cache
Orchestrator/app/wordcount/project/target/config-classes/$809a7b3cc8744039b3bf.class
Orchestrator/app/wordcount/project/target/config-classes/$809a7b3cc8744039b3bf$.class
Orchestrator/app/wordcount/project/target/config-classes/$abc2f4e87b69de65c25c.cache
Orchestrator/app/wordcount/project/target/config-classes/$abc2f4e87b69de65c25c.class
Orchestrator/app/wordcount/project/target/config-classes/$abc2f4e87b69de65c25c$.class
Orchestrator/app/wordcount/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
Orchestrator/app/wordcount/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
Orchestrator/app/wordcount/project/target/streams/_global/update/_global/streams/out
Orchestrator/app/wordcount/project/target/streams/compile/_global/_global/compileOutputs/previous
Orchestrator/app/wordcount/project/target/streams/compile/compileIncremental/_global/streams/out
Orchestrator/app/wordcount/project/target/streams/compile/copyResources/_global/streams/out
Orchestrator/app/wordcount/project/target/streams/compile/exportedProducts/_global/streams/export
Orchestrator/app/wordcount/project/target/streams/compile/incOptions/_global/streams/out
Orchestrator/app/wordcount/project/target/streams/runtime/dependencyClasspath/_global/streams/export
Orchestrator/app/wordcount/project/target/streams/runtime/exportedProducts/_global/streams/export
Orchestrator/app/wordcount/project/target/streams/runtime/fullClasspath/_global/streams/export
Orchestrator/app/wordcount/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
Orchestrator/lista_sparati.txt
Orchestrator/profile.txt
Orchestrator/listafile.txt
Orchestrator/test.py
